<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.statsgaa">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewGotConfused"
        tools:targetApi="31">
        <activity
            android:name=".ShowPossessions"
            android:exported="false" />
        <activity
            android:name=".ShowScoresDesc"
            android:exported="false" />
        <activity
            android:name=".DisplaySquad"
            android:exported="false" />
        <activity
            android:name=".GameStart"
            android:exported="false"/>
        <activity
            android:name=".EnterStat"
            android:exported="false" />
        <activity
            android:name=".ShowGameStats"
            android:exported="false" />
        <activity
            android:name=".EditPlayer"
            android:exported="false" />
        <activity
            android:name=".SavedSquads"
            android:exported="false"
            android:label="Saved Squads" />
        <activity
            android:name=".AddNewSquad"
            android:exported="false"
            android:label="Squad Setup" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>